#../.idea/*
#!../.idea/.idea.*
#../.idea/.idea.*/*
#!../.idea/.idea.*/.idea
#../.idea/.idea.*/.idea/*
!../.idea/.idea.*/.idea/runConfigurations
#/.idea/*
#!/.idea/.idea.*
#/.idea/.idea.*/*
#!/.idea/.idea.*/.idea
#/.idea/.idea.*/.idea/*
!/.idea/.idea.*/.idea/runConfigurations
../.idea/*
../.idea/.*
../.idea/.*.*